.modal {
    text-align: left!important;
  }
  .modal-body {
    background: #202020;
    /* color: #fff !important; */
  }
  div#cookie {
    position: relative !important;
  }
  #Capa_1 {
    width: 20%;
    height: 100%;
    margin-bottom: 1rem;
  }
  #notification {
    position: absolute !important;
    width: 100%;
  }
  #notification .toast {
    background: #202020
  }