* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 100% !important;
}
body {
/* 	font-family: "Josefin Sans" !important; */
	background-image: linear-gradient(145deg,var(--shade3),var(--shade2)) !important;
	color: var(--fg);
	/* font-family: monospace !important; */
/* 	background: #202020 !important; */
	color: #fff !important;
	position: relative;
	overflow-x: hidden
}

body.remove_preloader .loading_animation {
	display: none !important;
}

.nav a{
	color: #fff !important;
}

.navbar-nav {
	align-items: center;
}

.navbar-nav .login {
	border: 1px solid #fff;
  border-radius: .3rem;
	height: 100%;
	padding: 4px 5px;
}

.navbar-nav .login .nav-link {
	padding-block: 2px !important;
}

/* MAIN */
main {
	margin-top: 3rem;
	text-align: center
}
main .title {
	text-align: center;
	font-weight: bolder;
	font-family: "Lucida Bright" !important;
}
main .title h1 {
	color: #fd601e;
	font-size: 3.5rem;
	/* word-spacing: -3px;
	letter-spacing: -2px */
}
main .title h1 span {
	color: #009bfe
}
.title > span {
	font-size: 10px
}

main .url-form {
	width: 60%;
	margin: 3rem auto 1rem;
}

main .url-form input:focus, main .url-form input {
/* 	padding-block: 25px !important; */
	height: 3rem !important;
	width: 70%;
	margin-right: 10px;
	background: #374151;
	color: #fff
}
main .url-form button {
	text-align: center;
	padding-block: 17px;
	width: 30%;
	height: 100% !important;
	padding-inline: 3px;
	background: #fd601e;
	border: none;
	border-radius: .2rem !important;
}

main #history {
	margin-block: 5rem
}
#history .heading {
	margin-bottom: 1.5rem
}
#history h2 {
	color: #009bfe;
}
#history .record {
/* 	background: #374151; */
	word-break: break-all;
	border-radius: .4rem;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 1rem 1rem;
	font-size: .8rem;
	margin-right: 1rem;
	width: 31.2%;
	height: 7rem
}
.record .link-text {
	font-size: 14px;
	margin-bottom: .6rem
}
.record a {
	font-weight: bold;
	margin-bottom: 1rem
}
.record a:after {
	content: ""
}
.record .record-info {
	display: flex;
	justify-content: space-between;
	color: lightgray;
	font-style: italic
}
.record-info .record-time {
	color: gray;
	font-weight: bold
}
.sidebar.viscible{
	display: block;
	position: fixed;
	transform: translateX(10%) !important;;
	transition: transform .5s ease-in
}
.sidebar {
	display: none;
	transform: translateX(100%);
	transition: transform .5s ease-in;
	width: 100%;
	background: grey;
	position: absolute;
  top: 0;
	right: 10px;
	bottom: 0;
/* 	min-height: 94.5% !important;; */
	z-index: 1000;
  padding: 10rem 2rem;
	font-size: 3rem;
	text-shadow: 2px 1px #000
} 
.sidebar .togleBtn {
	position: absolute !important;
	top: 10px;
	left: 10px
}

.hambugger-menu {
	display: none
}

svg {
  filter: drop-shadow(3px 5px 2px rgba(0,0,0,.4)) !important;;
	cursor: pointer
}
@media (max-width: 500px){
	.hambugger-menu {
		display: block
	}
	nav .navbar-brand {
		width: 50%;
		font-size: 15px
	}
	.navbar-brand img {
		width: 20%
	}
  nav #navbarNav {
		display: none !important;
	}
	
	main .url-form {
		width: 100%
	}
	main #history .heading {
		margin-bottom: 10px;
		text-align: left
	}
	main #history .heading h2 {
		text-align: center !important;
	}
	main #history .record {
		font-family: monospace;
		width: 100%;
		height: 10rem;
		font-size: 20px;
		margin-right: 0;
		text-shadow: 1px 1px 2px #000
/* 		filter: drop-shadow(3px 5px 2px rgba(0,0,0,.4)); */
	}
	
	.record .link-text {
		font-family: monospace;
		font-size: 1.57rem;
/* 		text-shadow: 1px 1px 2px #000; */
		filter: drop-shadow(3px 5px 2px rgba(0,0,0,.1));
	}
	
	.footer-container {
		flex-direction: column-reverse;
	}
	
	.footer-container .socials{
		margin-bottom: 1.5rem
	}
}













